:root {
    --maisescuro: #8485d9;
    --maisclaro: #b7b6ec;
    --branco: #eae7ff;
}
  
body {
    background-color: var(--branco);
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.caixa {
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: var(--maisescuro);
    border-radius: 15px;
    text-align: center;
    color: var(--branco); 
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(100%,100%);
}
  
.captcha {
    margin-bottom: 50px; 
    margin-left: 15px; 
    position: absolute;
    
}
